// Base
$color-white: #ffffff;
$color-black: #000000;

// Grey scale
$color-grey-1: #d3d3d3; // DarkGrey
$color-grey-2: #696969; // DimGrey
$color-grey-3: #dcdcdc; // Gainsboro
$color-grey-4: #f5f5f5; // WhiteSmoke
$color-grey-5: #cccccc; // light-grey-border
$color-grey-6: #f9f9f9; // extra-light-bg
$color-grey-7: rgb(93, 117, 117); // special border
$color-grey-8: #273d48; // Grey

// Blues
$color-blue-1: #1e90ff; // DodgerBlue
$color-blue-2: #00bfff; // DeepSkyBlue
$color-blue-3: #6495ed; // CornflowerBlue
$color-blue-4: #4169e1; // RoyalBlue
$color-blue-5: #007bff; // link-blue
$color-blue-6: #0056b3; // link-blue-hover
$color-blue-7: #f0f8ff; // AliceBlue

// Dark tones
$color-dark-1: #2f4f4f; // DarkSlateGray
$color-dark-2: #395d6d; // DarkSlateGray + CornflowerBlue
$color-dark-3: #2c4755; // Slightly darker tone for borders/inputs

// Reds
$color-red-1: #ff6347; // Tomato
$color-red-2: #dc143c; // Crimson
$color-red-3: #ff0000; // Red

// Greens
$color-green-1: #32cd32; // LimeGreen


// Shadows
$color-shadow-1: rgba(0, 0, 0, 0.5);
