@use "sass:color";
@use '../_variables.scss' as *;

@forward 'simulation-create';
@forward 'simulation-history';
@forward 'simulation-result';

.models {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;

  nav {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: $color-dark-2;
    color: $color-white;
    justify-content: space-between;
    gap: 10px;

    button {
      background: none;
      border: none;
      color: $color-white;
      padding: 5px 10px;
      cursor: pointer;
      font-weight: 500;
      transition: background-color 0.2s;
      border-radius: 5px;

      &:hover {
        background-color: color.scale($color-dark-2, $lightness: 10%);
      }

      &.active {
        background-color: $color-grey-4;
        color: $color-dark-1;
      }
    }

    .profile-icon {
      height: 100%;
      width: 30px;
    }

    .searchBox {
      height: 100%;
      width: calc(100vw - 280px);
      padding: 0;

      input {
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
      }
    }

    .chatHeader {
      text-align: center;
      width: 200px;
    }
  }
}

.models-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.loading-message, .error-message {
  color: $color-white;
  text-align: center;
  margin-top: 20px;
}

.simulation-detail-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
