@use "sass:color";
@use '../_variables.scss' as *;

.profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1000;

  & > div {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-grey-8;
    border-radius: 10px;
    z-index: 1001;

    .close {
      position: fixed;
      width: 20px;
      height: 20px;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: $color-white;
    }
  }

  .profileContent {
    width: 55%;
    padding: 20px;
    color: $color-white;

    p {
      margin-bottom: 10px;
      background-color: $color-grey-7;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
    }

    .Icon {
      margin-left: 10px;
      cursor: pointer;
      color: $color-white;

      &:hover {
        color: color.adjust($color-white, $lightness: -10%);
      }
    }

    .changeForm {
      margin-top: 20px;
      padding: 15px;
      background-color: color.adjust($color-blue-3, $lightness: -5%);
      border-radius: 8px;

      h3 {
        margin-top: 0;
        color: $color-white;
      }

      input {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid color.adjust($color-blue-3, $lightness: -15%);
        border-radius: 5px;
        box-sizing: border-box;
        background-color: $color-dark-1;
        color: $color-white;
      }

      button {
        background-color: $color-blue-1;
        color: $color-white;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          background-color: color.adjust($color-blue-1, $lightness: -10%);
        }
      }
    }

    .error {
      color: $color-red-2;
      margin-top: 15px;
      font-weight: bold;
    }

    .redButton {
      background-color: $color-red-2;
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      color: $color-white;
      border: none;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: color.adjust($color-red-2, $lightness: -10%);
      }
    }
  }
}
